@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	outline: none;
}

::-webkit-scrollbar {
	width: 0px;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue), 10%, 90%);
	--fg: hsl(var(--hue), 10%, 10%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

::selection {
	background-color: #f25f4c;
	color: #f2f3f5;
}

#loading {
	background-color: var(--bg);
	color: var(--fg);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition: background-color 0.3s;
	z-index: 1;
}

.pl,
.pl__worm {
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.pl {
	animation-name: bump;
	animation-timing-function: linear;
	width: 8em;
	height: 8em;
}

.pl__ring {
	stroke: hsla(var(--hue), 10%, 10%, 0.1);
	transition: stroke 0.3s;
}

.pl__worm {
	animation-name: worm;
	animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
}

/* Animations */
@keyframes bump {

	from,
	42%,
	46%,
	51%,
	55%,
	59%,
	63%,
	67%,
	71%,
	74%,
	78%,
	81%,
	85%,
	88%,
	92%,
	to {
		transform: translate(0, 0);
	}

	44% {
		transform: translate(1.33%, 6.75%);
	}

	53% {
		transform: translate(-16.67%, -0.54%);
	}

	61% {
		transform: translate(3.66%, -2.46%);
	}

	69% {
		transform: translate(-0.59%, 15.27%);
	}

	76% {
		transform: translate(-1.92%, -4.68%);
	}

	83% {
		transform: translate(9.38%, 0.96%);
	}

	90% {
		transform: translate(-4.55%, 1.98%);
	}
}

@keyframes worm {
	from {
		stroke-dashoffset: 10;
	}

	25% {
		stroke-dashoffset: 295;
	}

	to {
		stroke-dashoffset: 1165;
	}
}

#scroll_up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	background-color: #fff;
	padding: 5px 10px;
	display: none;
	transition: all .4s;
	z-index: 10;
}

#scroll_up i {
	color: #f25f4c;
}

header {
	background-color: transparent;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	/* overflow-y: auto; */
	transition: all 0.5s;
	z-index: 100;
}

.header-toggle {
	margin-left: 0px;
}

.menu-toggle {
	position: fixed;
	top: 70px;
	right: 70px;
	font-size: 40px;
	display: none;
	border: none;
	background-color: #f25f4cc0;
	padding: 0px 8px;
	border-radius: 10px;
	z-index: 9999;
}


.menu-toggle i {
	color: #fff;
}

.resume {
	position: fixed;
	writing-mode: vertical-rl;
	top: calc(50% - 80px);
	right: 0;
	background-color: #f25f4c;
	padding: 5px 0px;
	transition: all .4s;
	z-index: 100;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.resume a {
	text-decoration: none;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;

}

.resume:hover {
	padding-right:20px;
}

.resume a:hover{
	color: #f2f3f5;
}

.hide-link {
	display: none;
}

.nav-link:hover .hide-link {
	display: block;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-menu a {
	display: flex;
	align-items: center;
	color: #0c0532;
	padding: 10px 18px;
	margin-bottom: 15px;
	transition: 0.1s;
	font-size: 18px;
	border-radius: 50px;
	background: #f2f3f5;
	height: 56px;
	width: fit-content;
	overflow: hidden;
	gap: 10px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-link li:hover>a {
	color: #fff;
	background: #f25f4c;
}


@media only screen and (max-width: 1200px) {
	header {
		margin: 0px 0px 0px -300px;
		background-color: #060025;
		/* box-shadow: 10px 0px 10px #888888; */
	}

	.menu-toggle {
		display: block;
	}

	.hide-link {
		display: block;
	}

	.nav-menu a {
		width: 100%;
	}
}


.name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.backgroundAnimation {
	min-height: 100vh;
	width: 100%;
	color: #fff;
	background-color: #0c0532;
}

.backgroundAnimation h1 {
	font-weight: bold;
	color: #fffffe;
}

.backgroundAnimation p {
	color: #a7a9be;
	font-weight: lighter;
}



.name>.typing {
	font-weight: bold;
	padding-left: 20px;
	padding-bottom: 5px;

}

.typing>.writer {
	color: #f25f4c;
}

.social{
	display: flex;
	gap: 20px;
	padding:0px 0px 20px 20px;
}

.social img{
	height: 50px;
	width: auto;
	border-radius: 10px;
	border: 4px solid white;
}

.social img:hover{
    border: 4px solid #f25f4c;
}

.social a{
	color: #eebbc3;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
}

.social a:hover{
	color: #f2f3f5;
}


/* .name .social {
	padding-left: 20px;
	gap: 10px;
}


.social a {
	font-size: 40px;
	text-decoration: none;
	color: #ffffff;
}

.social a:hover {
	color: #a7a9be;
} */

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7 {
	height: 100%;
	width: 100%;
	background-color: #0c0532;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -2px;
}

p.tag {
	display: flex;
	width: 80%;
	justify-content: flex-start;
	color: #f2f3f5;
	font-weight: lighter;
	font-size: 40px;
	margin: 0;
}

.photo {
	height: 450px;
	width: auto;
	border-bottom-left-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;
	border-top-right-radius: 80px 80px;
	box-shadow: 10px 10px #f25f4c;
	transition: all .3s ease-out;
	background: linear-gradient(white,#f1b9c1,#f7b3bd);
}


.info h1 {
	font-size: 40px;
	color: #f25f4c;
	text-align: center;
}

.info>.title {
	color: #eebbc3;

}

.info p {
	color: white;
	text-align: center;
	font-size: 25px;
}

.info ul {
	list-style: none '▶ ';
	color: #fff;
	font-size: 25px;
}

.info strong {
	color: #f25f4c;
}

.timeline {
	position: relative;
	max-width: 100vh;
	margin: 0 auto;
	z-index: 1;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
}

.timeline>.card {
	z-index: 1;
	margin: 40px;
	box-shadow: 10px 10px #f25f4c;
	padding: 10px 20px;
	max-width: 800px;

}

.timeline > .card:hover{
	
}

.card-title {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.skills {
	display: flex;
	/* align-items: center; */
	margin: 0px 200px;
	gap: 50px;
	width: 80%;
}

.skill-icons {
	background-color: rgba(255, 255, 255, 0.541);
	padding: 20px;
	display: flex;
	gap: 25px;
	border: 2px dashed #fff;
	border-radius: 20px;
}


.skills-icon-marquee {
	display: none;
	background-color: #ffffff8a;
	padding: 20px 0px;
}

.skills-icon-marquee img {
	padding: 0px 10px;
}

.section-5 h1 {
	font-size: 20px;
	color: #eebbc3;
	text-align: center;
}

.section-4 .title {
	font-size: 20px;
	color: #eebbc3;
	text-align: center;
}

.project-toggle button {
	font-size: 20px;
	background-color: #f25f4c;
	color: #f2f3f5;
	padding: 1px 10px;
	margin: 20px 3px;
	border-radius: 15px;
	transition: all .2s;
}

.project-toggle button:hover {
	background-color: #f2f3f5;
	color: #f25f4c;
}

.projects img {
	border: white;
}



.skill-wrap {
	margin-bottom: 20px;
}

.part-1,
.part-2 {
	width: 100%;
}

.skill-name {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	color: #f2f3f5;
	margin-bottom: -10px;
}

.section-7 {
	background-color: #060025;
	min-height: 50vh !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
}

.loc,
.email {
	display: flex;
}

.loc i,
.email i {
	background-color: #f25f4c;
	border-radius: 50%;
	padding: 10px;
	color: #fff;
}

.loc i:hover,
.email i:hover {
	background-color: #fff;
	color: #f25f4c;
	transition: all .4s;
}

.email a {
	text-decoration: none;
	color: #fff;
}

.section-7 .details {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: bold;
	margin: 0;
	gap: 20px;
}

.section-7 .details ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.section-7 .details li {
	list-style: none;
}

.section-7 .details img {
	height: 50px;
	width: auto;
	border-radius: 50%;
}

.section-7 .details i:hover {
	color: #f25f4c;
	background-color: #fff;
	transition: all .4s;
}

.copyright {
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px 0px;
}


.grid-item,
.item {
	margin-bottom: 40px;
}

.certificate img {
	position: relative;
	border-radius: 15px;
	transition: all .3s ease-in-out;
}

.project-detail {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f25f4ce5;
	margin: 0px 20px;
	border-radius: 15px;
	opacity: 0;
	transition: all .2s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-detail h1 {
	margin: 10px auto;
	font-weight: bold;
	color: #fff;
}

.project-detail p {
	font-size: 15px;
	padding: 0px 20px;
	color: #fff;
}

.btn-links {
	display: flex;
	justify-content: center;
	font-size: 40px;
	gap: 10px;
}

.btn-links a {
	color: #fff;
}

.btn-links a:hover {
	color: #eebbc3;
}

.project-detail:hover {
	opacity: 1;
}

@media only screen and (max-width: 1100px) {
	
	.resume {
		font-size: 20px;
	}

	.name h1{
		font-size: 40px;
		padding-left: 10px;
	}
	
	.name .typing{
		margin: 0;
		padding-left:10px;
	}

	.photo{
		height: 400px;
		width: auto;
	}

	.social{
		margin-top: 10px;
		gap: 8px;

	}

	.social img{
		height: 35px;

	}
	
	.social i{
		font-size: 25px;
	}
	
	.social a{
		gap: 5px;
	}

	.skill-icons {
		display: none;
	}

	.skills-icon-marquee {
		display: block;
	}

	.project-detail {
		margin: 0px 12px;
	}

	p.tag {
		width: 90%;
		font-size: 30px;
		margin: 0;
	}

	.project-toggle button {
		font-size: 15px;
	}

	#scroll_up {
		bottom: 20px;
		right: 20px;
	}

	.info h1 {
		font-size: 30px;
	}

	.info p {
		font-size: 15px;
	}

	.info li {
		font-size: 18px;
	}

	.section-4 .title {
		font-size: 18px;
	}

	.section-4 .skill-name {
		font-size: 15px;
	}

	.section-5 h1 {
		font-size: 18px;
	}

	.menu-toggle {
		top: 25px;
		right: 25px;
		font-size: 30px;
	}
}
